{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>ShopHints</title>
    {% include 'base/css.html' %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    {% block base_head %}{% endblock %}
  </head>
  <body>

  	{% include 'base/navbar.html' with brand_name='ShopHints' %}
    <div class='container'>
      {% block content %}{% endblock %}
    </div>
    <div class="container-fluid">
      {% block content_fluid %}{% endblock %}
    </div><br>


    <footer>
<div style="min-height: 250px;" class="footer" id="footer-sub">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5> HELP </h5>
            <ul>
                <li><a href="">Payments</a><hr></li>
                <li><a href="">Saved Cards</a><hr></li>
                <li><a href="">Shipping</a><hr ></li>
                <li><a href="">Cancellation & Returns</a><hr></li>
                <li><a href="">FAQ</a></li>               
            </ul>
            </div>

             <div class="col-md-4">
                <h5> ShopHints </h5>
            <ul>
                <li><a href="">Contact Us</a><hr></li>
                <li><a href="">About Us</a><hr></li>
                <li><a href="">Careers</a><hr></li>
                <li><a href="">Press</a><hr></li>
                <li><a href="">Sell on our website</a></li>               
            </ul>
        </div>

         <div class="col-md-4">
            <h5> MISC </h5>
            <ul>
                <li><a href="">Online Shopping</a><hr></li>
                <li><a href="">Affliate Program</a><hr></li>
                <li><a href="">Gift Card</a><hr></li>
                <li><a href="">Subscription</a><hr></li>
                <li><a href="">Sitemap</a></li>               
            </ul>
        </div>
       
        </div>

        
 <hr style="margin-bottom:0px; margin-top:30px; padding:0px;">
        <div class="row" id="sub-two">

            <div class="col-md-4">
                <div class="vertical-line text-center">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <h4>TRACK YOUR ORDER</h4>
                </div>
            </div>

            <div class="col-md-4">
                <div class="vertical-line text-center">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <h4>FREE & EASY RETURNS</h4>
                </div>
            </div>

            <div class="col-md-4">
                <div style="margin:8px;" class="text-center">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <h4 style="color:#6d6c6c;">ONLINE CANCELLATIONS</h4>
                </div>
            </div>
            

        </div>
        <hr style="margin-bottom:30px; margin-top:0px; padding:0px;">

       

    </div>
</div>
<div style="min-height: 50px;" id="footer-main">

<ul>
    <li><a href=""><b>About Us</b></a></li>
    <li><a href=""><b>Partner with us</b></a></li>
    <li><a href=""><b>Terms & Conditions</b></a></li>
    
    <li><a href=""><b>Customer Service</b></a></li>
</ul>

<div id="social-menu">
    <ul>
    <li><a href=""><img style="max-width:18px; margin-top: -7px;" src=""></a></li>
    <li><a href=""><img style="max-width:18px; margin-top: -7px;" src=""></a></li>
    <li><a href=""><img style="max-width:18px; margin-top: -7px;" src=""></a></li>
</ul>
</div>

</div>
</footer>





    
    

      

    {% include 'base/js.html' %}
  </body>
</html>


